* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #efefef;
    font-family: "Fredoka", sans-serif;
    display: grid;
    
    place-items: center;
    justify-content: center;
  }